<!-- Footer Section -->
<footer class="footer-section">
    <div class="container">

        <div class="address">
            <div class="address-box clearfix">
                <p>New Sama Road, Vadodara, Gujarat India</p>
            </div>
            <div class="address-box clearfix">
                <p><a href="tel:09898356253">+91 9898-356-253</a></p>
            </div>
            <div class="address-box clearfix">
                <p><a href="mailto:sharma.m.mayank@gmail.com">sharma.m.mayank@gmail.com</a></p>
            </div>
            <div class="address-box clearfix">
                <p><a href="https://mayanksharma88.wordpress.com/" target="_blank">mayanksharma88.wordpress.com</a></p>
            </div>
        </div><!-- .address -->

    </div><!-- .container -->
    <p class="copyright">&copy; 2020 Copyright Mayank Sharma</p>
</footer><!-- .footer-area -->
<!-- Footer Section end -->