<!-- Header start -->
<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">

                <!-- Mobile Toggle -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- / Mobile Toggle -->

                <!-- Logo  -->
                <h1 class="logo">
                    <a href="javascript:void(0);">Mayank Sharma</a>
                </h1>
                <!-- / Logo  -->
            </div>
            <!-- Navbar -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="current"><a href="#home">Home</a></li>
                    <li><a  href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#resume">Resume</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- / Navbar -->
            <!-- <div class="night-mode-toggle"><button onclick="nightMode()">Toggle dark mode</button></div> -->
            <div class="toggle-button-cover">
              <div class="button-cover">
                <div class="button r" id="button-1" (click)="nightMode()">
                  <input type="checkbox" class="checkbox">
                  <div class="knobs"></div>
                  <div class="layer"></div>
                </div>
              </div>
            </div>
        </div>
    </nav>
</header>
<!-- Header end -->