<!-- Blog Section -->
<section id="blog" class="section">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>My <span>Blog</span></h2>
            <p>Some random thoughts of mine</p>
        </div><!-- .section-title -->
        <div class="row">
            <div class="col-sm-4 col-sm-12" data-aos="flip-left">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog3.jpg" title="Blog" alt="Blog" />
                    </div><!-- .blog-img -->
                    <div class="blog-contents">
                        <h3>Skills Needed for Front End Developer</h3>
                        <div class="blog-meta">
                            <p>Posted On 15th Nov 2017</p>
                        </div>
                        <div class="blog-desc">
                            <p>10 Skills You Need to Land Your First Front End Developer Job</p>
                        </div>
                        <div class="blog-action">
                            <a target="_blank" href="https://mayanksharma88.wordpress.com/2017/11/15/10-skills-needed-for-front-end-developer/" class="m-btn">Read More</a>
                        </div>
                    </div><!-- .blog-contents -->
                </div><!-- .blog-item -->
            </div><!-- .col-sm-4 col-sm-12 -->

            <div class="col-sm-4 col-sm-12" data-aos="flip-down">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog2.jpg" title="Blog" alt="Blog" />
                    </div><!-- .blog-img -->
                    <div class="blog-contents">
                        <h3>Latest CSS4</h3>
                        <div class="blog-meta">
                            <p>Posted On 3rd Apr 2017</p>
                        </div>
                        <div class="blog-desc">
                            <p>Difference between floats, flexbox and CSS4 new grid system</p>
                        </div>
                        <div class="blog-action">
                            <a target="_blank" href="https://mayanksharma88.wordpress.com/2017/04/03/css4-difference-between-floats-flexbox-and-css4-new-grid-system/" class="m-btn">Read More</a>
                        </div>
                    </div><!-- .blog-contents -->
                </div><!-- .blog-item -->
            </div><!-- .col-sm-4 col-sm-12 -->

            <div class="col-sm-4 col-sm-12" data-aos="flip-right">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog1.jpg" title="Blog" alt="Blog" />
                    </div><!-- .blog-img -->
                    <div class="blog-contents">
                        <h3>Small WordPresss Codes  </h3>
                        <div class="blog-meta">
                            <p>Posted On 09th Jul 2014</p>
                        </div>
                        <div class="blog-desc">
                            <p>Some of the small but useful code for WordPress</p>
                        </div>
                        <div class="blog-action">
                            <a target="_blank" href="https://mayanksharma88.wordpress.com/2014/07/09/some-of-the-small-but-useful-code-for-wordpress/" class="m-btn">Read More</a>
                        </div>
                    </div><!-- .blog-contents -->
                </div><!-- .blog-item -->
            </div><!-- .col-sm-4 col-sm-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Blog Section end -->